.Checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

  height: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 0;

  color: #4a4a4d;
}

th,
td {
  padding: 10px 15px;
  vertical-align: middle;
}

thead {
  background: rgb(24, 24, 24);
  color: #fff;
}

th:first-child {
  text-align: left;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}

td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}

td:first-child {
  border-left: 1px solid #cecfd5;
}

tfoot {
  font-weight: bold;
}