.Item {
  margin: 20px;
  padding: 10px;
  box-shadow: black 0 0 4px 2px;
  transition: 0.3s;
  border-radius: 10px;
}
.Item:hover {
  transform: scale(1.1);
}

.Item img {
  width: 90px;
}

.card {
  color: rgb(24, 24, 24);
  object-fit: cover;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Item a {
  text-decoration: none;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
