body,html, #root {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  background-color:rgb(24, 24, 24);
  font-size: 15px;
  border-radius: 8px;
  color: whitesmoke;
  padding: 5px;
  margin:5px
}
.btn:hover {
  opacity: 0.6;
}